

<div class="container mt-5">
  <h2 class="alert alert-primary">
    ToDo Crud Using Service
  </h2>
  <div class="card">
    <div class="row">
    <div class="col-md-6 mb-md-0 mb-4">
      <app-todo-form></app-todo-form>
    </div>
    <div class="col-md-6">
      <app-todo-list></app-todo-list>
    </div>
  </div>
  </div>
</div>
<hr>
<h2 class="alert alert-primary">
    Student Crud Using Service
  </h2>
<div class="container">
  <div class="row">
    <div class="col-md-5 mb-md-0 mb-4">
      <app-std-form></app-std-form>
    </div>
    <div class="col-md-7">
      <app-std-table></app-std-table>
    </div>
  </div>
</div>